.button1{
  position: absolute;
  top: 200px;
  left:355px;
  border-radius: 20%;
  border-color: black;
  background-color: blueviolet;
}
.button2{
  position: absolute;
  top: 240px;
  left:830px;
  border-radius: 20%;
  border-color: black;
  background-color: blueviolet;
}
.button3{
  position: absolute;
  top: 72px;
  right: 700px;
  border-radius: 20%;
  border-color: black;
  background-color: blueviolet;
}
.button4{
  position: absolute;
  top: 72px;
  right: 450px;
  border-radius: 20%;
  border-color: black;
  background-color: blueviolet;
}
.button5{
  position: absolute;
  bottom:140px;
  left:830px;
  border-radius: 20%;
  border-color: black;
  background-color: blueviolet;
}
.button6{
  position: absolute;
  bottom: 36px;
  right: 450px;
  border-radius: 20%;
  border-color: black;
  background-color: blueviolet;
}
.button7{
  position: absolute;
  top: 380px;
  left:355px;
  border-radius: 20%;
  border-color: black;
  background-color: blueviolet;
}
.button8{
  position: absolute;
  bottom: 36px;
  right: 700px;
  border-radius: 20%;
  border-color: black;
  background-color: blueviolet;
}